;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[re-frame "1.2.0"]
  [reagent "1.1.0"]
  [re-frisk "1.5.1"]
  [cljs-ajax "0.8.4"]
  [tick "0.5.0-RC1"]
  [day8.re-frame/http-fx "0.2.3"]
  [metosin/reitit "0.5.15"]
  [com.kiranshila/cybermonday "0.2.132"]
  [binaryage/devtools "1.0.3"]]

 :builds
 {:app {:target :browser
        :output-dir "resources/public/js/compiled"
        :asset-path "/js/compiled"
        :compiler-options {:output-feature-set :es2020
                           :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}
        :devtools {:http-root "resources/public"
                   :http-port 8280}
        :modules {:main {:init-fn main.core/init
                         :preloads [re-frisk.preload]}}}}}
