;; shadow-cljs configuration
{:source-paths
 ["src"]

 :jvm-opts ["-Xmx1G" "-Xss4M"]

 :dependencies
 [[re-frame "1.3.0"]
  [reagent "1.1.1"]
  [re-frisk "1.6.0"]
  [cljs-ajax "0.8.4"]
  [tick "0.5.0"]
  [instaparse "1.4.12"]
  [day8.re-frame/http-fx "0.2.4"]
  [metosin/reitit "0.5.18"]
  [com.kiranshila/cybermonday "0.5.197"]
  [binaryage/devtools "1.0.6"]]

 :builds
 {:app {:target :browser
        :output-dir "resources/public/js/compiled"
        :asset-path "/js/compiled"
        :compiler-options {:output-feature-set :es2020
                           :closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}
        :devtools {:http-root "resources/public"
                   :http-port 8280}
        :modules {:main {:init-fn main.core/init
                         :preloads [re-frisk.preload]}}}}}
